<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FillPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FillPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://streetmaster.streetmaster.it:443/smws/fill"
                binding="basicHttpBinding" bindingConfiguration="FillPortBinding"
                contract="FillWS.Fill" name="FillPort" />
        </client>
    </system.serviceModel>
</configuration>