<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FillPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ec2-46-137-97-173.eu-west-1.compute.amazonaws.com:80/smws/fill"
                binding="basicHttpBinding" bindingConfiguration="FillPortBinding"
                contract="FillWS.Fill" name="FillPort" />
        </client>
    </system.serviceModel>
</configuration>